{% extends "layout.html" %}
{% block content %}
<div class="content-section mt-2">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Send Message to <a href="{{ url_for('user_detail',username=legend) }}" style="text-decoration: none;"> {{ legend }}</a> </legend>
            <div class="form-group mb-2 mt-2">
                
                {% if form.message.errors %}
                    {{ form.message(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.message(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group mb-2">
            {{ form.submit(class="btn btn-outline-success") }}
        </div>
    </form>
</div>
{% endblock content %}