{% extends "layout.html" %}
{% block content %}
    <h1>Job/Internship Posted by {{ user.username }} ({{ jobs.total }})</h1>
    {% for job in jobs.items %}
     <!--  {{ job.id }} -->
        <article class="media content-section mt-3">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + job.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_detail', username=job.author.username) }}">{{ job.author.username }}</a>
              <small class="text-muted">{{ job.date_posted.strftime('%Y-%m-%d, %H:%M') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('job', job_id=job.id) }}">{{ job.title }}</a></h2>
            <p class="article-content">{{ job.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in jobs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if jobs.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('user_jobs', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('user_jobs', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}