body {
  background: #fafafa;
  color: black;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

.bg-steel {
  background-color: #5f788a;
}

.head1{
  background-color: #5f788a;
  color: #fafafa;
  height: 60px;
  font-size: 30px;
  padding-top: 5px;
  word-spacing: 0.3vw;
}

.site-header .navbar-nav .nav-link {
  color: white;
}

.site-header .navbar-nav .nav-link:hover {
  color: white;
  text-shadow:0.45vw 0.3vw 0.22vw black; 
  transform: scale(1.15,1.15);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}



.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}


.article-metadata a:hover {
  color: black;
  
  text-decoration: none;
  
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

footer {
  background: #061D25;
  padding: 10px 0;
  text-align: center;
}
footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
footer a:first-child {
  border-left: 1px solid #70726F;
}
footer a:hover {
  color: white;
}

.content-section .form-group .text{
  font-size: 15px; 
}

.border-top .text{
  font-size: 15px; 
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


